.playing-button {
  position: absolute;
  top: 85vh;
  left: 5vw;
}
.stop-button {
  position: absolute;
  top: 85vh;
  left: 76vw;
}

.return-button {
  position: absolute;
  top: 5vh;
  left: 5vw;
}
